{{ $infoClass := "hx:border-blue-200 hx:bg-blue-100 hx:text-blue-900 hx:dark:border-blue-200/30 hx:dark:bg-blue-900/30 hx:dark:text-blue-200" }}


<div
  class="hx:overflow-x-auto hx:md:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 ltr:hx:pr-4 rtl:hx:pl-4 contrast-more:hx:border-current contrast-more:dark:hx:border-current {{ $infoClass }}">
  <div class="ltr:hx:pl-3 ltr:hx:pr-2 rtl:hx:pr-3 rtl:hx:pl-2">
    <div
      class="hx:select-none hx:text-xl"
      style="font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">
      📎
    </div>
  </div>

  <div class="hx:w-full hx:min-w-0 hx:leading-7">
    <div class="hx:mx-4 hx:leading-7 first:hx:mt-0">
      OpenRun is an
      <a href="https://github.com/openrundev/openrun">open source</a>
      alternative to Google Cloud Run and AWS App Runner. OpenRun is built for
      teams to easily deploy internal tools. OpenRun supports zero-config
      deployment of apps built with frameworks like Streamlit, Gradio, FastHTML,
      NiceGUI etc.
      <!--OpenRun is the first internal tools
      platform listed on the
      <a
        href="https://landscape.cncf.io/?item=app-definition-and-development--application-definition-image-build--openrun">
        CNCF landscape</a
      >.-->
      <br />
    </div>
  </div>
</div>
